---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-50 w-full bg-white/90 backdrop-blur-md shadow-sm">
  <div class="container flex items-center justify-between h-20">
    <a href="/" class="text-2xl font-bold text-primary-800 font-serif flex items-center">
      <span class="sr-only">Bethel Baptist Church</span>
      <img src="/public/uploads/logo.webp" alt="logo" width="40" height="40">
      <span class="text-primary-800">Bethel Baptist Church</span>
    </a>
    
    <Navigation />
  </div>
</header>